<a href="https://colab.research.google.com/github/ChiaraVanderputten/lab05DS/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2.2

In [ ]:
import pandas as pd
import numpy as np



a = pd.read_csv('https://github.com/dbdmg/data-science-lab/raw/master/datasets/US_FlightDelayData.zip')
#a.info()
#a.head
a.describe() #ultima colonna inutile la elimino e risalvo il db in b

b = a.drop(['Unnamed: 32'], axis = 1)
b.describe()

uniq = b.groupby('UNIQUE_CARRIER')
cont = uniq['FL_DATE'].count()
print(cont)

uniq_airp = pd.concat([b["ORIGIN"], b["DEST"]])
uniq_airp.unique().size

b['FL_DATE'].min()
b['FL_DATE'].max()

print('Shape before:', b.shape)

mask = (b['CANCELLED']<1)
b = b.loc[mask]

print('Shape after:', b.shape)

UNIQUE_CARRIER
AA     73132
AS     14711
B6     24602
DL     69813
EV     35037
       ...
NK     12570
OO     50146
UA     42403
VX      5782
WN    107785
Name: FL_DATE, Length: 12, dtype: int64
Shape before: (450017, 32)
Shape after: (441131, 32)

#2.1

In [117]:
import numpy as np
import pandas as pd

mun = np.loadtxt("ny_municipality_pois_id.csv")
info = pd.read_csv("pois_all_info", sep='\t', index_col='@id', dtype={'@id':int, '@type':str, '@lat':float, '@lon':float,	'amenity':str,	'name':str,	'shop':str,	'public_transport':str,	'highway':str  })
pois_ny= info.loc[mun]

mun.shape
pois_ny.describe()

pois_ny.isna().sum()

@type                   0
@lat                    0
@lon                    0
amenity             28838
name                23000
shop                44833
public_transport    45174
highway             45991
dtype: int64